### LAB Item 1

1. Run weather regression from 1/1/2012 --> 8/1/2019 to Natural Gas Consumption.  Use the data posted in week 7 folder.

    https://www.eia.gov/dnav/ng/ng_cons_sum_dcu_nus_m.htm   (original source but use data in class folder)
    
2. Using SkLearn, regress to sum of: U.S. Natural Gas Residential Consumption (MMcf) + Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf)

3. What is R^2 ?

4. Estimate October 2019!  What was the residual between your estimate and the actual.

In [1]:
import numpy
import pandas as pd
import sklearn
from matplotlib import pyplot as plt
%matplotlib inline

import plotly
#import chart_studio.plotly as py
import cufflinks

import plotly.graph_objects as go
#from chart_studio.plotly import plot, iplot

In [2]:
temp_df = pd.read_excel('~/Documents/Machine_Learning/LAB/Week7/weather-natgas.xlsx', sheet_name='Weather')

ng_df = pd.read_excel('~/Documents/Machine_Learning/LAB/Week7/weather-natgas.xlsx', sheet_name='NatGas')

In [3]:
temp_df.tail()

     themonth        hdd        cdd  temp_natl
30 2019-07-01   0.041155  12.464210  77.423055
31 2019-08-01   0.081061  11.162419  76.081358
32 2019-09-01   0.916233   8.597273  72.681040
33 2019-10-01   7.809861   2.738358  59.928497
34 2019-11-01  18.480750   0.573533  47.092783

In [4]:
ng_df.tail()

,Date,U.S. Natural Gas Total Consumption (MMcf),U.S. Natural Gas Lease and Plant Fuel Consumption (MMcf),U.S. Natural Gas Pipeline & Distribution Use (MMcf),Natural Gas Delivered to Consumers in the U.S. (MMcf),U.S. Natural Gas Residential Consumption (MMcf),Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf),U.S. Natural Gas Industrial Consumption (MMcf),U.S. Natural Gas Vehicle Fuel Consumption (MMcf),U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)
27,2019-04-01,2201582,149778,63166,1988639,327642,248512,672132,4489,735863
28,2019-05-01,2121523,154091,60869,1906564,211616,185746,673190,4639,831373
29,2019-06-01,2115736,151035,60703,1903999,128761,144783,632673,4489,993293
30,2019-07-01,2408122,156039,69091,2182991,113482,143987,647345,4639,1273538
31,2019-08-01,2430780,159871,69741,2201168,101598,142116,664326,4639,1288489

In [5]:
temp_df['themonth'] = pd.to_datetime(temp_df['themonth'])
ng_df['Date'] = pd.to_datetime(ng_df['Date'])

In [6]:
m_df = temp_df.merge(ng_df, left_on=['themonth'], right_on=['Date'])
m_df['ones'] = 1
m_df.tail()

,themonth,hdd,cdd,temp_natl,Date,U.S. Natural Gas Total Consumption (MMcf),U.S. Natural Gas Lease and Plant Fuel Consumption (MMcf),U.S. Natural Gas Pipeline & Distribution Use (MMcf),Natural Gas Delivered to Consumers in the U.S. (MMcf),U.S. Natural Gas Residential Consumption (MMcf),Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf),U.S. Natural Gas Industrial Consumption (MMcf),U.S. Natural Gas Vehicle Fuel Consumption (MMcf),U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf),ones
27,2019-04-01,8.673257,1.523303,57.850047,2019-04-01,2201582,149778,63166,1988639,327642,248512,672132,4489,735863,1
28,2019-05-01,4.221135,4.262452,65.041316,2019-05-01,2121523,154091,60869,1906564,211616,185746,673190,4639,831373,1
29,2019-06-01,0.668620,7.894777,72.226157,2019-06-01,2115736,151035,60703,1903999,128761,144783,632673,4489,993293,1
30,2019-07-01,0.041155,12.464210,77.423055,2019-07-01,2408122,156039,69091,2182991,113482,143987,647345,4639,1273538,1
31,2019-08-01,0.081061,11.162419,76.081358,2019-08-01,2430780,159871,69741,2201168,101598,142116,664326,4639,1288489,1

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
# X = temp_natl, y = U.S. Natural Gas Residential Consumption (MMcf)
reg = LinearRegression().fit(m_df[['temp_natl']], m_df[['U.S. Natural Gas Residential Consumption (MMcf)']])

In [9]:
reg_pred = reg.predict(m_df[['temp_natl']])

In [10]:
reg.score(m_df[['temp_natl']], m_df[['U.S. Natural Gas Residential Consumption (MMcf)']])

# That's a pretty good fit!!

0.9402280087527911

In [11]:
## step 2 : Using SkLearn, regress to sum of: U.S. Natural Gas Residential Consumption (MMcf) + Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf)
m_df['rescomm'] = m_df['U.S. Natural Gas Residential Consumption (MMcf)'] + m_df['Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf)']

In [12]:
m_df.tail()

,themonth,hdd,cdd,temp_natl,Date,U.S. Natural Gas Total Consumption (MMcf),U.S. Natural Gas Lease and Plant Fuel Consumption (MMcf),U.S. Natural Gas Pipeline & Distribution Use (MMcf),Natural Gas Delivered to Consumers in the U.S. (MMcf),U.S. Natural Gas Residential Consumption (MMcf),Natural Gas Deliveries to Commercial Consumers (Including Vehicle Fuel through 1996) in the U.S. (MMcf),U.S. Natural Gas Industrial Consumption (MMcf),U.S. Natural Gas Vehicle Fuel Consumption (MMcf),U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf),ones,rescomm
27,2019-04-01,8.673257,1.523303,57.850047,2019-04-01,2201582,149778,63166,1988639,327642,248512,672132,4489,735863,1,576154
28,2019-05-01,4.221135,4.262452,65.041316,2019-05-01,2121523,154091,60869,1906564,211616,185746,673190,4639,831373,1,397362
29,2019-06-01,0.668620,7.894777,72.226157,2019-06-01,2115736,151035,60703,1903999,128761,144783,632673,4489,993293,1,273544
30,2019-07-01,0.041155,12.464210,77.423055,2019-07-01,2408122,156039,69091,2182991,113482,143987,647345,4639,1273538,1,257469
31,2019-08-01,0.081061,11.162419,76.081358,2019-08-01,2430780,159871,69741,2201168,101598,142116,664326,4639,1288489,1,243714

In [13]:
# X = temp_natl, y = sum of U.S. Natural Gas Residential Consumption (MMcf) and Natural Gas Deliveries to Commercial Consumers
reg_sum = LinearRegression().fit(m_df[['temp_natl']], m_df[['rescomm']])
reg_sum_pred = reg_sum.predict(m_df[['temp_natl']])

r_squared_sum = reg_sum.score(m_df[['temp_natl']], m_df[['rescomm']])
# Print R^2
print("R^2 for the sum of variables:", r_squared_sum)

R^2 for the sum of variables: 0.9423994988358022

Step 3: What is R^2 ?

In the context of linear regression, 
R^2 is a measure of how well the independent variable(s) explain the variability of the dependent variable. It ranges from 0 to 1, where:
R^2=0 indicates that the model does not explain any of the variability in the dependent variable.
R^2=1 indicates that the model explains all the variability in the dependent variable.

In [14]:
## step 4: Estimate October 2019! What was the residual between your estimate and the actual.
import numpy as np
predicted_value = reg.predict(np.array([[59.928497]]))
predicted_value

/Users/payal/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning:

X does not have valid feature names, but LinearRegression was fitted with feature names

array([[373341.08269752]])

In [39]:
import numpy as np
temp_df['pred_residential'] = reg.predict(temp_df[['temp_natl']])
filtered_df = temp_df.loc[(temp_df['themonth'] >= '2019-10-01')
                     & (temp_df['themonth'] < '2019-10-31')]
print("The residual is :", 447837-filtered_df['pred_residential'].values[0])

The residual is : 74495.91264169523

### LAB Item 2

1. Run the same calculation as LAB Item 1 using the python statsmodels package

import statsmodels.api as sm

mod = sm.OLS(Y, X)

res = mod.fit()

In [18]:
import statsmodels.api as sm
import statsmodels
statsmodels.__version__

'0.13.2'

In [19]:
import statsmodels.api as sm

# Define the independent variable (X) and dependent variable (Y)
X = m_df[['temp_natl']]
Y = m_df['rescomm']

# Add a constant term to the independent variable
X = sm.add_constant(X)

# Fit the model
mod = sm.OLS(Y, X)
res = mod.fit()

# Print the summary
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                rescomm   R-squared:                       0.942
Model:                            OLS   Adj. R-squared:                  0.940
Method:                 Least Squares   F-statistic:                     490.8
Date:                Mon, 30 Oct 2023   Prob (F-statistic):           3.79e-20
Time:                        21:16:45   Log-Likelihood:                -415.32
No. Observations:                  32   AIC:                             834.6
Df Residuals:                      30   BIC:                             837.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.481e+06   8.36e+04     29.695      0.000    2.31e+06    2.65e+06
temp_natl  -3.068e+04   1384.920    -22.155      0.000   -3.35e+04   -2.79e+04
==============================================================================
Omnibus:                        2.699   Durbin-Watson:                   1.215
Prob(Omnibus):                  0.259   Jarque-Bera (JB):                1.330
Skew:                           0.002   Prob(JB):                        0.514
Kurtosis:                       2.001   Cond. No.                         264.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### LAB Item 3

Return to previous dataset: Adult income
https://www.kaggle.com/wenruliu/adult-income-dataset

Build a logistic Regression targeting income above / below 50k...

Review Example.

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [21]:
df = pd.read_csv('~/Documents/Machine_Learning/LAB/Week7/adult.csv', sep=',')
df.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [22]:
df = df.dropna()

In [23]:
num_columns = df.shape[1]
num_columns

15

In [24]:
print("Unique values in 'income' column after encoding:", df["income"].unique())

Unique values in 'income' column after encoding: ['<=50K' '>50K']

In [25]:
# Target variable: 1 if income > 50k, 0 otherwise
df["income"] = df["income"].apply(lambda x: 1 if x == '>50K' else 0)
df["income"]

0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 48842, dtype: int64

In [26]:
for column in df.columns:
    if df[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df[column] = le.fit_transform(df[column])

In [27]:
# Features and target
X = df.drop("income", axis=1)
y = df["income"]

In [28]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
# Build a logistic regression model
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [30]:
y_pred = model.predict(X_test)

In [31]:
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)


print(f"Accuracy: {accuracy:.4f}")
print("\nClassification Report:")
print(classification_report_str)

Accuracy: 0.7925

Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.94      0.87      7479
           1       0.62      0.30      0.41      2290

    accuracy                           0.79      9769
   macro avg       0.72      0.62      0.64      9769
weighted avg       0.77      0.79      0.76      9769

### LAB Item 4: Let's take a look at the sklearn California housing dataset from previous weeks

... A)  review a multivariate regression from this week's content (built in class notes)

... B) Compare the results from the multivariate linear regression to a random forest by building a RF.  You've built a random forest on this dataset before.  Note the differences in model accuracy between the linear regression and RF.

In [32]:
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [33]:
data = fetch_california_housing()

In [34]:
X = pd.DataFrame(data.data, columns = data.feature_names)
y = pd.DataFrame(data.target, columns = ["MedHouseVal"])

In [35]:
# A) Multivariate Linear Regression
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)

# Make predictions on the test set
linear_reg_predictions = linear_reg_model.predict(X_test)

# Calculate mean squared error for linear regression
mse_linear_reg = mean_squared_error(y_test, linear_reg_predictions)
print(f"Mean Squared Error (Linear Regression): {mse_linear_reg}")

Mean Squared Error (Linear Regression): 0.13305238395620556

In [36]:
# B) Random Forest Regression
random_forest_model = RandomForestRegressor(random_state=42)
random_forest_model.fit(X_train, y_train)

# Make predictions on the test set
random_forest_predictions = random_forest_model.predict(X_test)

# Calculate mean squared error for random forest
mse_random_forest = mean_squared_error(y_test, random_forest_predictions)
print(f"Mean Squared Error (Random Forest): {mse_random_forest}")

Mean Squared Error (Random Forest): 0.0980179414900877

In [37]:
# Calculate the difference in MSE
mse_difference = mse_linear_reg - mse_random_forest
print(f"Difference in MSE: {mse_difference}")

Difference in MSE: 0.03503444246611785