# Week 3 Lab

### Lets go to the Titanic Dataset
### https://www.kaggle.com/c/titanic/data

### Build a K-NN model to predict survival

### 1. Download the data and build a pandas DataFrame

In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv("~/Documents/Machine_Learning/LAB/titanic/train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df.dropna(inplace=True)

### 2. Split the data into testing and training and testing sets

In [4]:
# We need X and Y
x_df = df.drop(columns=['Survived'])    
y_df = df[['Survived']]

### 3. Change the data types of columns, if necessary

In [5]:
x_df.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
#converting x_df data into  integer
for column in x_df.columns:
    if x_df[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        x_df[column] = le.fit_transform(x_df[column])

In [7]:
x_df.dtypes

PassengerId      int64
Pclass           int64
Name             int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket           int64
Fare           float64
Cabin            int64
Embarked         int64
dtype: object

In [8]:
#converting y_df data into  integer
for column in y_df.columns:
    if y_df[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        y_df[column] = le.fit_transform(y_df[column])

In [9]:
y_df.dtypes

Survived    int64
dtype: object

### 4. Build a KNN models with different numbers of neighbors.  What is the best accuracy you get (on testing set) ?

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, random_state=555)
clf = KNeighborsClassifier(n_neighbors=20)
clf.fit(x_train, y_train)

/Users/payal/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=20)

In [80]:
clf_predict = clf.predict(x_test)
clf_predict

/Users/payal/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0])

In [81]:
print('Accuracy: {:.2f}'.format(clf.score(x_test, y_test)))

Accuracy: 0.72

/Users/payal/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

### 5. What accuracy would you get if you accidentally tested your accuracy on the TRAINING set ?

In [78]:
# from sklearn.metrics import accuracy_score
#accuracy_score(y_train, clf_predict)
#clf.score(clf.predict(x_test), y_test)
clf_1 = KNeighborsClassifier(n_neighbors=1)
clf_1.fit(x_train, y_train)
print('Accuracy: {:.2f}'.format(clf_1.score(x_train, y_train)))

Accuracy: 1.00

/Users/payal/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/payal/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)